.item {
  text-align: center;
  transition: all .2s ease-in-out;
  cursor: pointer;
  //width: 33%;
  //margin: 0 50px;

  &:hover {
    transform: scale(1.02);
  }

  h3 {
    font-weight: 800;
    font-size: 20px;
    color: #232323;
  }

  .settings {
    margin: 20px 0 0;
    padding: 7px;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .type {
      display: flex;
      text-align: center;

      &:first-child {
        margin-bottom: 7px;
      }

      span {
        padding: 8px;
        flex: 1 1;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600;
        transition: background-color .15s ease-in-out;
      }

      .active {
        background-color: #fff;
      }
    }
  }

  .purchase {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
      font-size: 22px;
      font-weight: 700;
      letter-spacing: .015em;
      line-height: 27px;
      color: #232323;
    }

    .button {
      background-color: #fff;
      border: 1px solid #FE5F1E;
      color: #FE5F1E;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 600;
      min-width: 70px;
      display: flex;
      align-items: center;
      line-height: normal;


      &:hover {
        background-color: #FE5F1E;
        color: #fff;

        i {
          background-color: #fff;
          color: #FE5F1E;
        }
      }

      b {
        font-weight: 900;
      }

      i {
        font-style: normal;
        background-color: #FE5F1E;
        border-radius: 50%;
        display: inline-block;
        width: 22px;
        height: 22px;
        position: relative;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        margin-left: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .15s ease-in-out, color .15s ease-in-out;

      }
    }
  }
}